@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contactoDiv {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .contactoDiv {
    grid-template-columns: 22% 51.7% 22%;
    grid-template-rows: none;
  }
}

.quienes_somos_grid {
  grid-template-rows: 30% 70%;
  grid-template-columns: 30% 70%;
}

@media (max-width: 768px) {
  .quienes_somos_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 23% 77%;
  }
}

.civiles_mecanicas_grid {
  grid-template-columns: 1fr;
  grid-template-rows: 23% 77%;
}

.slick-dots li.slick-active button:before {
  color:White !important;
}

.slick-dots li button:before {
  color: rgb(249 115 22);
}

.textSlider{
  display: none;
}

.imgSlider:hover ~ .textSlider{
  display: block;
}

.icon{
  animation: move-icon 1.6s linear infinite;
  -webkit-animation: move-icon 1.6s linear infinite;
}


@keyframes move-icon {
  0%{
      transform: translateY(60px);
      scale: 1.2;
      -webkit-transform: translateY(60px);
      -moz-transform: translateY(60px);
      -ms-transform: translateY(60px);
      -o-transform: translateY(60px);
}

  50%{
      transform: translateY(0px);
      scale: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
}   

  100%{
      transform: translateY(60px);
      scale: 1.2;
      -webkit-transform: translateY(60px);
      -moz-transform: translateY(60px);
      -ms-transform: translateY(60px);
      -o-transform: translateY(60px);
}
}




